<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--Possible dictionar names are "PhrasesDictionary.csv" and "WordsDictionary.csv"-->
		<add key="DictionaryPath" value="../../Source/WordsDictionary.csv"/>
		<!--Possible values are "EnglishToSerbian" and "SerbianToEnglish"-->
		<add key="CurrentTranslationType" value="EnglishToSerbian"/>
	</appSettings>
</configuration>