<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ReceiveEntityServiceInterface" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="SerbianEnglishDictionary.Communication.Messages.ServiceClasses.ReceiveEntityService">
                <endpoint address="http://localhost/ReceiveEntityService" behaviorConfiguration=""
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReceiveEntityServiceInterface"
                    contract="IReceiveEntityService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>